#login{
    background-color: black;
    display: grid;
    grid-template-columns: auto;
    width: 500px;
    margin: 30px auto 0 auto;
}



button{
    height: 20px;
    width:20px;
    margin: 0 auto 0 auto;
}
